<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VMFM - Error</title>
    <div th:replace="shared :: head-vue-style" />
</head>

<body>
    <div id="app">
        <v-app>
            <div th:replace="shared :: body-vue-appbar-home" />
            <v-main>
                <v-container fluid>
                    <v-card elevation-2>
                        <p>Войдите, чтобы попасть на эту страницу, или создайте аккаунт, если его у Вас ещё нет.</p>
                        <v-btn href="/auth/login">Войти</v-btn>
                        <v-btn href="/auth/reg">Регистрация</v-btn>
                    </v-card>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <div th:replace="shared :: body-vue-script" />
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify()
        })
    </script>
</body>

</html>