<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VMFM</title>
    <div th:replace="shared :: head-vue-style" />
</head>

<body>
    <div id="app">
        <v-app>
            <div th:replace="shared :: body-vue-appbar" />
            <v-main>
                <v-container fluid>
                    <v-form>
                        <v-text-field name="username" label="Enter your username" v-model="username"
                            hint="At least 4 characters" min="4" :counter="50"
                            :rules="[rules.required, rules.minUsername, rules.max]">
                        </v-text-field>
                        <v-text-field name="passwd" label="Enter your password" v-model="passwd"
                            hint="At least 8 characters" min="8" counter="50"
                            :append-icon="passwdShow ? 'mdi-eye' : 'mdi-eye-off'" 
                            :rules="[rules.required, rules.minPassword, rules.max]"
                            :type="!passwdShow ? 'password' : 'text'" @click:append="passwdShow = !passwdShow"></v-text-field>
                    </v-form>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <div th:replace="shared :: body-vue-script" />
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    username: null,
                    passwd: null,
                    passwdShow: false,
                    rules: {
                        required: (val) => !!val || 'Required',
                        minUsername: (val) => val.length >= 4 || 'Min 4 characters',
                        minPassword: (val) => val.length >= 8 || 'Min 8 characters',
                        max: (val) => val.length <= 50 || 'Max 50 characters'

                    }
                }
            }

        })
    </script>
</body>

</html>