<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="head-vue-style">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </div>
</head>

<body>
    <div th:fragment="body-vue-appbar">
        <v-app-bar app>

        </v-app-bar>
    </div>

    <div th:fragment="body-vue-navbar">
        <v-navigation-drawer app permanent expand-on-hover>

        </v-navigation-drawer>
    </div>

    <div th:fragment="body-vue-script">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://unpkg.com/vuex@2.x/dist/vuex.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.x/dist/axios.js"></script>
    </div>
</body>

</html>